body
{
	#wrapper{
		margin:0 auto;
		width: 50%;
		height:900px;
		border:1px solid black;
		border-radius:10px;
		text-align:center;
		#map{
			height:95%;
			border-top:1px solid black;
		}
		#msg{
			height:5%;
			text-align:center;
			margin-top:20px;
		}
	}
}