.table {
  displa: table; }

.tr {
  display: table-row; }

.td {
  display: table-cell; }

#brands {
  text-align: left;
  font-size: 20px;
  color: #00AFEF;
  padding-left: 90px; }
  #brands span {
    text-decoration: underline; }

img {
  float: left;
  width: 110px;
  height: auto; }

#divtext {
  float: left;
  padding: 0 0 20px 0; }

.container {
  text-wrap: suppress;
  width: 190px;
  height: 90px; }

#sliders {
  position: absolute;
  margin-top: 100px;
  margin-left: 15px; }

