ul {
    list-style-type: none;
    display:inline-block;
}

    ul li {
        padding:0;
    }
    ul li a {
        text-decoration:none;
        color:black;
    }
    ul > li a:hover {
        text-decoration:underline;
        cursor:pointer;
    }
        ul li ul {
            display:none;
        }
        ul li:hover > ul {
            display:block;
        }
        ul li ul li a {
            color: grey;
        }
