body {
  background-image: linear-gradient(bottom, #8c00ff 39%, #8800ff 80%, #d292fd 100%);
  background-image: -o-linear-gradient(bottom, #8c00ff 39%, #8800ff 80%, #d292fd 100%);
  background-image: -moz-linear-gradient(bottom, #8c00ff 39%, #8800ff 80%, #d292fd 100%);
  background-image: -webkit-linear-gradient(bottom, #8c00ff 39%, #8800ff 80%, #d292fd 100%);
  background-image: -ms-linear-gradient(bottom, #8c00ff 39%, #8800ff 80%, #d292fd 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.39, #8c00ff), color-stop(0.8, #8800ff), color-stop(1, #d292fd));
  background-repeat: no-repeat;
  font: 14px normal Arial;
  color: white; }
  body h1, body h2 {
    font-size: 16px; }
  body header {
    margin: 0 0 40px 0; }
    body header div#header-container div#logo-container {
      display: inline-block; }
    body header div#header-container div#reg-form-container {
      margin: 15px 80px 0 0;
      display: inline-block;
      float: right; }
      body header div#header-container div#reg-form-container input {
        border-radius: 10px;
        border: 1px solid black;
        background-color: #B35EF3;
        margin: 0 0 10px 5px;
        width: 60%; }
      body header div#header-container div#reg-form-container button {
        font-weight: bold;
        color: white;
        border-style: outset;
        border-radius: 10px;
        padding: 5px 8px;
        background: #B35EF3; }
    body header nav {
      margin-left: 10px;
      display: inline-block;
      width: 80%;
      border: 1px solid black;
      border-radius: 20px;
      font: 1.4em normal Arial; }
      body header nav ul#main-nav-list {
        padding: 6px;
        margin: 7px 0 7px 7px;
        list-style-type: none; }
        body header nav ul#main-nav-list li {
          display: inline-block;
          padding: 0 10px 0 0; }
          body header nav ul#main-nav-list li:hover {
            text-decoration: underline; }
            body header nav ul#main-nav-list li:hover ul {
              display: block;
              position: absolute;
              padding: 0;
              marigin: 0;
              background-color: white;
              border: 1px solid white;
              border-radius: 5px; }
              body header nav ul#main-nav-list li:hover ul li a {
                color: black; }
          body header nav ul#main-nav-list li ul {
            display: none; }
            body header nav ul#main-nav-list li ul li {
              display: block; }
        body header nav ul#main-nav-list a {
          color: white;
          text-decoration: none; }
  body section {
    float: left;
    width: 77%;
    margin: 0 15px 15px 10px; }
    body section article {
      border: 1px solid black;
      border-radius: 15px;
      margin-bottom: 20px;
      padding: 15px; }
      body section article header {
        margin: 5px 0 5px 5px; }
      body section article p, body section article h1 {
        margin: 0;
        padding: 0; }
      body section article footer {
        text-align: right; }
        body section article footer p time {
          font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace; }
        body section article footer a {
          text-decoration: none;
          color: #D4A3F7; }
  body aside {
    float: left;
    width: 20%; }
    body aside ul {
      list-style-type: none; }
    body aside > ul > li {
      border: 1px solid black;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 10px; }
      body aside > ul > li h2, body aside > ul > li p {
        margin: 0;
        padding: 5px; }
        body aside > ul > li h2 a, body aside > ul > li p a {
          text-decoration: none;
          color: #ccc; }
      body aside > ul > li li:before {
        content: url("../images/li-dot.png"); }
      body aside > ul > li > ul {
        margin: 0;
        padding-left: 15px; }
  body > footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold; }

