@mixin bodyGradient
{
	background-image: linear-gradient(bottom, rgb(140,0,255) 39%, rgb(136,0,255) 80%, rgb(210,146,253) 100%);
	background-image: -o-linear-gradient(bottom, rgb(140,0,255) 39%, rgb(136,0,255) 80%, rgb(210,146,253) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(140,0,255) 39%, rgb(136,0,255) 80%, rgb(210,146,253) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(140,0,255) 39%, rgb(136,0,255) 80%, rgb(210,146,253) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(140,0,255) 39%, rgb(136,0,255) 80%, rgb(210,146,253) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.39, rgb(140,0,255)),
		color-stop(0.8, rgb(136,0,255)),
		color-stop(1, rgb(210,146,253))
	);
	background-repeat: no-repeat;
}

@mixin clearfix {
    zoom:1;
    &:after {
        content: ""; 
        display: block;
		clear: both;  
        height: 0;
    }
}

body
{
	h1,h2
	{
		font-size:16px;
	}
	@include bodyGradient;
	font: 14px normal Arial;
    color: white;
	header
	{	
		margin:0 0 40px 0;
		div#header-container
		{
			div#logo-container
			{
				display:inline-block;
			}
			div#reg-form-container
			{
				margin:15px 80px 0 0 ;
				display:inline-block;
				float: right;
				input
				{
					border-radius:10px;
					border: 1px solid black;
					background-color:#B35EF3;
					margin:0 0 10px 5px;
					width:60%;
				}
				button
				{
					font-weight: bold;
					color: white;
					border-style:outset;
					border-radius: 10px;
					padding: 5px 8px;
					background: #B35EF3;
				}
			}
		}
		nav
		{
			margin-left:10px;
			display:inline-block;
			width:80%;
			border:1px solid black;
			border-radius:20px;
			font: 1.4em normal Arial;
			ul#main-nav-list
			{
				padding:6px;
				margin:7px 0 7px 7px;
				list-style-type: none;
				
				li
				{
					display:inline-block;
					padding:0 10px 0 0;
					&:hover
					{
						text-decoration:underline;
						ul
						{
							display:block;
							position:absolute;
							padding:0;
							marigin:0;
							background-color:white;
							border:1px solid white;
							border-radius:5px;
							li a
							{
								color:black;
							}
						}
					}
					ul
					{
						display:none;
						li
						{
							display: block;
						}
					}
				}
				a
				{
				
			color: white;
					text-decoration:none;
				}
			}
		}
	}
	section
	{
		float:left;
		width:77%;
		margin:0 15px 15px 10px;
		article
		{
			border: 1px solid black;
			border-radius:15px;
			margin-bottom:20px;
			padding:15px;
			header
			{
				margin:5px 0 5px 5px;
			}
			p,h1
			{
				margin:0;
				padding:0;
			}
			footer
			{
				text-align:right;
				p time
				{
					font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
				}
				a
				{
					text-decoration:none;
					color: #D4A3F7;
				}
			}
		}
	}
	aside
	{
		float:left;
		width:20%;
		ul
		{
			list-style-type: none;
		}
		& > ul > li
		{
			border: 1px solid black;
			border-radius:10px;
			margin-bottom:20px;
			padding:10px;
			h2,p
			{
				margin:0;
				padding:5px;
				a
				{
					text-decoration:none;
					color: #ccc;
				}
			}
			li:before
			{
				content: url("../images/li-dot.png");
			}
			&>ul
			{
				margin:0;
				padding-left:15px;
			}
		}
	}
	&>footer
	{
		display:inline-block;
		width:100%;
		text-align:center;
		font-weight:bold;
	}
}